{{!-- <header id="menu">
    <div>
        <ul>
            <li><a href="/"> Home </a></li>
            <li><a href="/humans"> Humans </a></li>
            <li><a href="/humans/1"> Human1 </a></li>
        </ul>
    </div>
</header> --}}
<header>
          <img
          src="/img/logo.png"
          class="logo-image"
          />
          <div class="name">Platinum Collector</div>
          <div class="menu">
            <a href="/"> Home Page</a>
            <a href="/mainpage" class="menu-item"> Mainpage</a>
            <a href="/about" class="menu-item"> About</a>
            <a href="/contect" class="menu-item"> Contect </a>
            <a href="/login" class="menu-item"> Log in </a>
            <a href="/404" class="menu-item"> 404 test </a>
          </div>
</header>