<div id="main">
    <div class="content404">
        <h1 class="title-404">🚫404 </h1>
        <div class="text1-404">
            Sorry, the requested page was not found on this site.<br />
            Please consider going back to the <a href="/api/mainpage" class="return-btn">Main page</a>.
        </div>
        <img src="/img/xi.png" alt="xi" class="xi">
        <div class="text2-404">"In China, Error 404 signifies not just a missing webpage."</div>    
    </div>
</div>
